* {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  fill: inherit;
}

/* VARIABLES */
:root {
  --font-family: Arial, Helvetica, sans-serif;
  --nav-height: 100px;
  --show-side-navigation-size: 25px;
}
body.arial {
  --font-family: Arial, Helvetica, sans-serif;
}
body.monospace {
  --font-family: monospace;
}
body.monospace.light, 
body.monospace.dark footer {
  font-weight: bold;
}

:root, body.dark {
  --background-color: rgb(21, 22, 24);
  --text-color: #fff;
  --primary-color: #fff;
  --secondary-color: #151618;
  --lightbulb-color: #ffc239;
  --top-nav-icon-color: #a6dd3d;
  --green: #1bb389;
  --amber: #ffc239;
  --black: #151618;
  --white: #fff;
}
body.light {
  --background-color: rgb(255, 255, 255);
  --text-color: #222;
  --primary-color: #222;
  --secondary-color: #fff;
  --lightbulb-color: #21bb80;
  --top-nav-icon-color: #933fff;
  --green: #21bb80;
  --amber: #ff9a47;
  --black: #222;
  --white: #fff;
}
/* ------------------------- */

hr {
  background-color: var(--primary-color);
  height: 5px;
}

img {
  object-fit: contain;
}

a, button, span {
  display: flex;
  align-items: center;
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  line-height: 1.2rem;
}

button {
  padding: .5rem ;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  fill: var(--primary-color);
}

#web-container {
  width: 100%;
  position: relative;
  min-width: 200px;
  background-color: var(--background-color);
}

#web-container,
nav#side-navigation {
  /*-webkit-transition:background-color .4s, 
    color .4s, 
    border-color .4s, 
    fill .4s;
  -moz-transition: background-color .4s, 
    color .4s, 
    border-color .4s, 
    fill .4s;
  -o-transition: background-color .4s, 
    color .4s, 
    border-color .4s, 
    fill .4s;*/
  transition: background-color .4s, 
    color .4s, 
    border-color .4s, 
    fill .4s;

  font-family: var(--font-family);
  color: var(--text-color);
  fill: var(--text-color);
}

nav#language-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  gap: .5rem;
  button {
    color: var(--white);
    background-color: rgba(18, 18, 19, 0.85);
    &:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
    &.selected {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }
  
}

nav#side-navigation {
  border-top-right-radius: 22px;
  background-color: rgba(18, 18, 19, 0.85);
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  position: fixed;
  left: calc(-1 * var(--show-side-navigation-size) / 2);
  bottom: 20px;
  z-index: 5;
  color: var(--white);
  ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    padding-left: calc(var(--show-side-navigation-size) / 2 + 1.5rem);
    li {
      transition: transform .4s;
      cursor: pointer;
      padding: .75rem 0;
      text-transform: capitalize;
      font-size: 18px;
      transform-origin: 0% 50%;
      &:hover {
        transform: scale(1.35);
      }
      a::before {
        content: "";
        margin-right: .5rem;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: var(--white);
      }
    }
  }
  #show-side-navigation {
    cursor: pointer;
    background-color: var(--text-color);
    width: var(--show-side-navigation-size);
    height: 120px;
    transition: width .25s ease-out;
  }
  &:hover {
    ul {
      display: flex;
    }
    #show-side-navigation {
      width: 250px;
      height: 5px;
      border-radius: 0;
    }
  }
}

#profile-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: .5rem;
  svg {
    width: 32px;
    height: 32px;
  }
}

nav#top-menu, footer {
  padding: 0 2rem;
}

nav#top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  z-index: 10;
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    text-transform: uppercase;
    li {
      transition: text-shadow .4s;
      text-shadow: 1px 0 var(--background-color), 
        -1px 0 var(--background-color), 
        0 1px var(--background-color), 
        0 -1px var(--background-color),
        1px 1px var(--background-color), 
        -1px -1px var(--background-color), 
        1px -1px var(--background-color), 
        -1px 1px var(--background-color);
      font-size: 18px;
    }
    a {
      border-bottom: 2px solid transparent;
      padding: .25rem;
      &:hover {
        border-color: var(--primary-color);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  gap: 1rem;
  > section {
    max-width: 768px;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 7.5rem 3rem 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

section#introduction {
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 6.5rem;
  small {
    display: inline-block;
    width: 100%;
    text-align: end;
  }
}

section#components {
  gap: 2.5rem;
  flex-wrap: wrap;
}
section.component {
  flex-direction: column;
}

section#cv {
  gap: 2rem;
  flex-direction: column;
  button.selected, button:hover {
    color: var(--lightbulb-color);
    border-bottom-color: var(--lightbulb-color);
  }
}
#cv-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  button {
    transition: color .4s, border-color .4s;
    background-color: transparent;
    color: var(--text-color);
    text-transform: uppercase;
    border-bottom: 2px solid;
    border-bottom-color: var(--text-color);
    padding-bottom: .5rem;
    font-weight: bold;
    border-radius: 0;
  }
}

iframe#cv-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  border-radius: 5px;
}
pre#cv-preview-text {
  text-align: center;
}
a#cv-download-text {
  transition: background-color .4s;
  border-radius: 5px;
  padding: .5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  &:hover {
    background-color: var(--lightbulb-color);
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 100%;
  gap: 2.5rem;
  > a {
    width: 100%;
    max-height: 50%;
    flex: 0 0 auto;
  }
}
.figure-image {
  transition: transform .4s;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #222;
  &:hover {
    transform: scale(1.05);
  }
}

figcaption {
  padding: 1rem 0;
  h2 {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: underline;
    margin-bottom: .75rem;
  }
  pre {
    text-align: start;
  }
}

section#about {
  justify-content: start;
}

#profile-pic-container {
  transition: transform .4s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  &:hover {
    transform: scale(1.2);
  }
}

img#profile-pic {
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
  z-index: 1;
}
#profile-pic-loader {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--lightbulb-color);
  width: 100%;
  height: 100%;
}

.loading-border {
  animation: spin .75s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 46px;
}

a.no-route-small {
  display: none;
}

a.no-route-small svg, #change-theme svg {
  height: 28px;
  width: 28px;
}

button#go-to-top {
  transition: transform .2s;
  margin: auto;
  padding: .5rem;
  border-radius: 50%;
  &:hover {
    transform: scale(1.5);
    fill: var(--secondary-color);
    background-color: var(--primary-color);
  }
}

button#download-cv {
  text-transform: uppercase;
  min-width: 75px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  span:last-child {
    display: none;
  }
}

a.no-route-small, 
a#change-theme {
  transition: fill .1s, border-color .2s, transform .2s;
  padding: .5rem !important;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color) !important;
  fill: var(--text-color);
  cursor: pointer;
}

a.no-route-small:hover {
  transform: scale(1.2);
}
#change-theme:hover {
  fill: var(--lightbulb-color);
  border-color: var(--lightbulb-color) !important;
  transform: scale(1.2);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  flex: 0 0 auto;
  padding: 2rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 768px) {
  nav#top-menu {
      ul {
      margin: auto;
      gap: 1rem;
      justify-content: space-evenly;
    }
    a.no-route {
      display: none;
    }
    a.no-route-small {
      display: flex;
    }
  }
  button#download-cv {
    span:first-child {
      display: none;
    }
    span:last-child {
      display: block;
    }
  }
  h1 {
    font-size: 36px;
  }
}