<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error | Path Not Found</title>
  <meta name="description" content="Error page redirect on path not found">
  <link rel="stylesheet" href="404.css">
</head>
<body>
  <h1>Error 404 - Path not found.</h1>
</body>
</html>